* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Sora", sans-serif;
    font-size: 1.6rem;
}

/* Common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

:root {
    --text-color-1: #575f66;
    --text-color-2: #fff;
    --text-color-3: #a9b3bb;
    --text-color-4: #c9d2da;

    --white-color: #fff;
    --primary-color: #2e80ce;
    --second-color: #10375c;
}

a {
    text-decoration: none;
}

.heading {
    font-family: Sora;
}

.heading.lv1 {
    color: var(--white-color);
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -0.14rem;
}

.heading.lv2 {
    color: var(--second-color);
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.1rem;
}

.heading.lv3 {
    color: var(--second-color);
    font-family: Sora;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
}

.btn {
    --height: 60px;

    display: inline-block;
    min-width: 205px;
    height: var(--height);
    border-radius: 99px;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    cursor: pointer;
    user-select: none;

    color: var(--white-color);
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: var(--height);
    text-decoration: none;
}

.btn:hover {
    opacity: 0.9;
}

/* Header */
.header {
    background-color: var(--second-color);
    padding-top: 22px;
    position: sticky;
    top: -22px;
    z-index: 1;
}

.header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
}

/* Logo */
.logo__link {
}

.logo {
    display: inline-flex;
    font-size: 1rem;
    position: relative;
}

.logo__img {
}

.logo__img::before {
    content: "";
    display: inline-block;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.logo__img::after {
    content: "";
    display: inline-block;
    width: 1.6em;
    height: 1.6em;
    border-radius: 50%;
    background-color: var(--white-color);
    position: absolute;
    top: 1.1em;
    left: 1.1em;
}

.logo__text-wrap {
    display: inline-flex;
    flex-direction: column;
}

.logo__text {
    display: block;
    color: #fff;
    text-align: right;
    font-size: 1.8em;
    font-weight: 400;
    line-height: 0.77;
    margin-left: 0.6em;
}

.logo__text--small {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.4em;
}

/* Nav */
.nav {
}

.nav__list {
    display: flex;
}

.nav__item {
}

.nav__item + .nav__item {
    margin-left: 34px;
}

.nav__link {
    color: var(--text-color-4);
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
    padding: 4px 8px;
    user-select: none;
}

.nav__link:hover,
.nav__link--action,
.action__btn--login:hover {
    color: var(--text-color-2);
    text-shadow: 1px 0 0 currentColor;
}

.nav__link--action {
    position: relative;
}

.nav__link--action::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: currentColor;
    position: absolute;
    left: -8px;
    top: 50%;
    transform: translateY(-50%);
}

/* Header Action */
.header-action {
    display: flex;
    align-items: center;
}

.action__btn--login {
    color: var(--text-color-4);
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
    margin-right: 20px;
    padding: 4px 8px;
    user-select: none;
}

.action__btn--signup {
    --height: 44px;

    min-width: 104px;
    font-size: 1.6rem;
    font-weight: 400;
}

/* Hero */
.hero {
    background-color: var(--second-color);
}

.hero__wrap {
    display: flex;
    align-items: center;
    padding: 68px 0 110px 0;
}

.hero__content {
    width: 44.2%;
}

.hero__heading {
}

.hero__desc {
    color: var(--text-color-4);
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66;
    margin-top: 22px;
}

.hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero__phone {
    color: var(--text-color-2);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
    margin-left: 38px;
}

.hero__media {
    margin-left: auto;
}

.hero__image {
    display: flex;
    align-items: center;
}

.hero__img {
    width: 330px;
    height: 540px;
    object-fit: cover;
    border-radius: 6px;
}

.hero__img:first-child {
    position: relative;
    right: -6px;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
}

/* Services */
.services {
    padding: 170px 0;
}

.services-wrap {
}

.services__heading {
    text-align: center;
}

.services__desc {
    width: 468px;
    margin: 18px auto 0;
    color: var(--text-color-1);
    text-align: center;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66;
}

.services-row {
    margin-top: 70px;
    display: flex;
    align-items: center;
}

.services__media {
}

.services__media-image {
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}

.services__content {
    width: 40%;
    margin-left: auto;
}

.services-list {
    margin-bottom: 55px;
}

.services-item {
    display: flex;
    padding: 22px;
    border-radius: 10px;
    background: var(--white-color);
    transition: all linear 0.15s;
}

.services-item:hover {
    position: relative;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.services-item:hover .services-item__icon {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.services-item__icon {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: #eff6fd;
    color: var(--second-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 19px;
    transition: all linear 0.15s;
}

.services-item__content {
}

.services-item__heading {
    font-size: 1.8rem;
    font-weight: 600;
}

.services-item__desc {
    color: var(--text-color-1);
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

/* Work */
.work {
    padding: 100px 0;
    background: #f6fbff;
}

.work-wrap {
}

.work__heading {
}

.work__desc {
    margin-top: 18px;
    width: 40%;
    color: var(--text-color-1);
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66;
}

.work-list {
    margin-top: 86px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.work-item {
    padding: 42px;
    border: 16px solid #eaf6ff;
    border-radius: 4px;
    transition: all linear 0.15s;
}

.work-item:hover {
    transform: translateY(-16px);
    border-color: #2e80ce;
}

.work-item:hover .work-item__more {
    text-shadow: 1px 0 0 currentColor;
}

.work-item__icon {
    width: 72px;
    height: 72px;
}

.work-item__heading {
    display: inline-block;
    margin-top: 18px;
    color: var(--second-color);
}

.work-item__desc {
    margin-top: 28px;
    color: var(--text-color-1);
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.work-item__more {
    display: inline-block;
    margin-top: 18px;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}
